.carousel-container {
    position: relative;
}

.carousel-images {
    display: flex;
    justify-content: space-between;
}

.carousel-image {
    width: 23%;
}

.carousel-navigation {
    position: absolute;
    bottom: -100px;
    width: 15%;
    left: calc(50% - 7.5%);
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.carousel-btn {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
}

@media screen and (max-width: 1200px){
    .carousel-image {
        width: 30%;
    }
    .image-04 {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .carousel-image {
        width: 45%;
    }

    .image-04 {
        display: none;
    }

    .image-03 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .carousel-image {
        width: 100%;
    }

    .image-04 {
        display: none;
    }

    .image-03 {
        display: none;
    }

    .image-02 {
        display: none;
    }

    .carousel-navigation {
        position: absolute;
        bottom: -100px;
        width: 10%;
        left: 45%;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
}