.visualTourWrapper {
    color: #001E58;
    padding: 65px 150px;
}

.tourTitle {
    font-size: 30px;
    line-height: 45px;
}

.tourTitle::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #FFB11B;
    position: relative;
    top: 50px;
    left: 150px;
}